body {
    color: #839496;
    background-color: #002b36;
}

.document-title {
    /* document-title */
    color: #93a1a1;
    font-size: 130%;
    font-weight: bold;
}

.lvl1 {
    /* lvl1 */
    color: #cb4b16;
    font-size: 130%;
}
.lvl2 {
    /* lvl2 */
    color: #859900;
    font-size: 120%;
}
.lvl3 {
    /* lvl3 */
    color: #268bd2;
    font-size: 114%;
}

a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration:wavy
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 625px;
    /* background-color: #002b36; */
    background-color: #073642;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

li {
    float: left;

}

li a {
    display: block;
    color: #b58900;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background-color: #002b36;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.compute {
    font-family: monospace;
}

a {
    color: #b58900;
    font-weight: bold;
}